<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	
	<!-- <Properties>
		<Property name="log-path">/home/local/EZDI/sandeep.k/Others/MicroServicesLogs/TestBootApp.log </Property>
	</Properties> -->
	<Properties>
		<Property name="log-path">${env:LOG_PATH:-/home/local/EZDI/sandeep.k/Others/MicroServicesLogs}/TestBootApp.log </Property>
	</Properties>
	<!-- <Properties>
		<Property name="log-path">${sys:LOG_PATH}/TestBootApp.log </Property>
	</Properties> -->

	<Appenders>
		<RollingFile name="file-all-logs" fileName="${log-path}" filePattern="${log-path}-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%-5level || %X{corel} || %X{trans} || %d{yyyy-MM-dd HH:mm:ss.SSS} || %t || %c{1} || %M || %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		
  		<!-- <SMTP name="Mailer" smtpProtocol="smtps" smtpPort="465" subject="My Server Error Log"
              to="sandeep.k@ezdi.us, ganesh.s@ezdi.us,chirag.j@ezdi.us ,devesh.r@ezdi.us, manjunath.y@ezdi.us "
              from="sandeep.k@ezdi.us" smtpHost="smtp.gmail.com" bufferSize="512"
              smtpUsername="sandeep.k@ezdi.us" smtpPassword="xxxxx" > 
              <MarkerFilter marker="FATAL" onMatch="ACCEPT" onMismatch="DENY" />
              <ThresholdFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY" /> 
         </SMTP> -->
                
		<!-- 
	      <RollingFile name="file-special-log" fileName="${log-path}_FATALError" filePattern="${log-path}_FATALError-%d{yyyy-MM-dd}.log">
			<MarkerFilter marker="FATAL" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%-5level || %X{corel} || %X{trans} || %d{yyyy-MM-dd HH:mm:ss.SSS} || %t || %c{1} || %M || %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		  </RollingFile> -->

		<Console name="console" target="SYSTEM_OUT">
		   <PatternLayout pattern="%-5level || %X{corel} || %X{trans} || %d{yyyy-MM-dd HH:mm:ss.SSS} || %t || %c{1} || %M || %m%n" />
		</Console>
		
		<!-- <Async name="AsyncMailer">
	              <AppenderRef ref="Mailer"/>
         </Async> -->
	</Appenders>

	<Loggers>
	
		<Root level="info">
			<appender-ref ref="console" level="info" />
			<appender-ref ref="file-all-logs" level="info" />
			<!-- <appender-ref ref="file-special-log" level="info" /> -->
			<!-- <appender-ref ref="AsyncMailer" level="FATAL" /> -->
		</Root>
	</Loggers>

</Configuration>

 